.App {
  text-align: center;
}

svg {
  background-color: #333;
}

.labels text {
  fill: white;
  font-size: 12px;
}

.line {
  stroke-width: 2px;
}

.line.highlighted {
  stroke: yellow;
}

.object.highlighted {
  fill: yellow;
}



/* .line {
  position: absolute;
  width: 2px;
  background-color: black;
  transform-origin: top left;
  z-index: 100;
}

.line.highlighted {
  background-color: red;
} */

.object.highlighted {
  background-color: yellow;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
